* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./images/background.jpg");
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1 h1 {
  font-size: 3em;
  font-weight: 800;
}

.section1 .underlined {
  height: 10px;
  width: 34%;
  background: #ad8d20;
}

.filter-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.filter-btn + .filter-btn{
    margin-left: 20px;
}

.filter-btn {
  padding: 10px 20px;
  font-size: 1.25em;
  color: #ad8d20;
  border: 2px solid #ad8d20;
  background: transparent;
}

.filter-btn:hover {
  color: #fff;
  border: 2px solid #ad8d20;
  background: #ad8d20;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.photo {
  border: 5px solid #ad8d20;
  border-radius: 20px;
  margin-right: 20px;
}


.menu-item {
  display: flex;
  width: 40%;
  margin: 50px;
}

.menu-item-content {
  display: flex;
  flex-direction: column;
}

.menu-item-content .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}
.menu-item-content .title .price {
  color: #ad8d20;
  font-weight: 900;
  font-size: 1.25em;
}

.menu-item-content p {
  color: #686565;
}

.no-items {
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #000000;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #000000;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}


.filter-btn.active {
  color: #fff;
  border: 2px solid #ad8d20;
  background: #ad8d20;

}